.formulario-tib {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 0 15px;
  background-color: rgb(240, 238, 238);
}
.formulario-tib p{
  font-family: Roboto,sans-serif;
  color: #666;
  font-size: 16px;
  line-height: 28px;
  margin: 0px;
  font-weight: 400;
}
.formulario-tib a{
  color: #dd052b;
  font-family: TIB,Roboto,sans-serif;
  text-decoration: none;
}
.formulario-tib a:hover{
  text-decoration: underline;
}
.formulario-tib .input-text{
  color: #454749;
  font-weight: 500;
}
.formulario-tib .aviso-legal-formulario p strong{
  font-weight: 800;
}
.formulario-tib .titulo-formulario{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #002E6D;
  padding-bottom: 8px;
  margin-bottom: 15px;
}
.formulario-tib .titulo-formulario h4{
  margin: 0;
}
.formulario-tib h4{
  font-size: 18px;
  color: #002e6d;

  font-family: TIB,Roboto,sans-serif;
  
  margin: 2rem 0;
}
.formulario-tib .explicacion-formulario{
  margin: 1rem 0;
}
.formulario-tib img{
  width: 20px;
  margin-right: 10px;
}
.formulario-tib input{
  width: 97.5%;
  padding: 5px 10px;
  background: white;
  color: #002E6D;
  margin: 10px 0;
  height: 30px;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 3px;

  font-weight: 600;
}
.formulario-tib input[type=radio]{
  cursor: pointer;
  height: 15px;
  width: 14px;
}
.formulario-tib input[type=datetime-local]{
  max-width: 50%;

  display: flex;
  justify-content: end;

  margin: 0;
  padding: 0;
}
.formulario-tib textarea{
  width: 97%;
  padding: 5px 10px;
  background: white;
  color: #002E6D;
  margin: 0;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 3px;

  font-family: Roboto,sans-serif !important;
  color: #666;
  font-size: 16px;
}
.formulario-tib input:focus,
.formulario-tib textarea:focus{
  outline: 3px solid #002E6D;
}
.formulario-tib input[type=radio]:focus{
  outline: none;
}
.formulario-tib .input-tipo,
.formulario-tib .input-ambito,
.formulario-tib .input-fecha-detalle,
.formulario-tib .input-tarjeta-billete-lugar,
.formulario-tib .input-respuesta-requerida,
.formulario-tib .input-idioma-respuesta,
.formulario-tib .input-archivo,
.formulario-tib .input-textarea{
  background: white;
  border: none;
  border-radius: 3px;

  margin: 10px 0;
  padding: 5px 10px;
}
.formulario-tib .input-textarea{
  padding: 10px;
}
.formulario-tib .radio-option{
  display: flex;
  margin: 0 10px;
}
.formulario-tib label{
  text-align: center;
  align-self: center;

  margin-left: 5px;

  font-family: TIB,Roboto,sans-serif;
  color: #454749;
}
.formulario-tib .input-fecha-detalle{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.formulario-tib .radio-input{
  padding: 0 15px;

  display: flex;
  align-items: center;
}
.formulario-tib button{
  width: 50%;
  background-color: #dc042b;
  padding: 10px;
  border-radius: 10px;
  border: 0;
  margin-bottom: 1rem;
  margin-top: 20px;
  color: white;
  cursor: pointer;

  font-family: Roboto,sans-serif;
  font-size: 16px;
}
.formulario-tib button:hover{
  background: white;
  border: 1px solid #dc042b;
  color: #dc042b;
}

.formulario-tib .input-error{
  color: #dc042b;
  font-size: 0.7rem;
  font-weight: 600;
  margin-left: 10px;
}

.formulario-tib .input-no-error{
  display: none;
}

