.formulario-tib {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 15px;
  background-color: #f2f2f2;
  font-size: 16px;
}
.formulario-tib p{
  font-family: TIB,Roboto,sans-serif;
  color: #666;
  line-height: 28px;
  margin: 0px;
  font-weight: 400;
}
.formulario-tib a{
  color: #dd052b;
  font-family: TIB,Roboto,sans-serif;
  text-decoration: none;
}
.formulario-tib a:hover{
  text-decoration: underline;
}
.formulario-tib .input-text{
  color: #454749;
  font-weight: 600;
}
.formulario-tib .aviso-legal-formulario p strong{
  font-weight: 800;
}
.formulario-tib .titulo-formulario{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #002E6D;
  padding-bottom: 8px;
  margin-bottom: 15px;
}
.formulario-tib .titulo-formulario h4{
  margin: 0;
}
.formulario-tib h4{
  font-size: 18px;
  color: #002e6d;

  font-family: TIB,Roboto,sans-serif;
  
  margin: 2rem 0;
}
.formulario-tib .explicacion-formulario{
  margin: 1rem 0;
}
.formulario-tib img{
  width: 20px;
  margin-right: 10px;
}
.formulario-tib input{
  width: 97.5%;
  padding: 5px 10px;
  background: white;
  color: #002E6D;
  margin: 10px 0;
  height: 2.75rem; /*30px en local*/
  display: flex;
  align-items: center;
  border: none;
  border-radius: 3px;

  font-weight: 500;
}
.formulario-tib input[type=radio]{
  cursor: pointer;
  height: 15px;
  width: 14px;
}
.formulario-tib input[type=datetime-local]{
  max-width: 50%;

  display: flex;
  justify-content: end;

  margin: 0;
  padding: 0;
}
.formulario-tib textarea{
  width: 97.5%;
  padding: 5px 10px;
  background: white;
  color: #002E6D;
  margin: 0;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 3px;

  font-family: TIB,Roboto,sans-serif;
  color: #666;
  font-size: 16px;
  font-weight: 500;
}
.formulario-tib input:focus,
.formulario-tib textarea:focus{
  outline: 3px solid #002E6D;
}
.formulario-tib input[type=radio]:focus{
  outline: none;
}
.formulario-tib .input-fecha-detalle,
.formulario-tib .input-tarjeta-billete-lugar,
.formulario-tib .input-respuesta-requerida,
.formulario-tib .input-idioma-respuesta,
.formulario-tib .input-archivo,
.formulario-tib .input-textarea,
.formulario-tib .input-tipo,
.formulario-tib .input-ambito,
.formulario-tib .input-respuesta-requerida,
.formulario-tib .input-idioma-respuesta{
  background: white;
  border: none;
  border-radius: 3px;

  width: 97.5%;

  margin: 10px 0;
  padding: 5px 10px;
}

.formulario-tib .input-text-textarea{
  color: #454749;
  font-weight: 500;
}
.formulario-tib .input-textarea{
  width: 97.5%;
  padding: 10px;
}
.formulario-tib .max-characters{
  margin: 0 10px;
}
.formulario-tib .radio-option{
  display: flex;
  margin: 0 10px;
}
.formulario-tib label{
  text-align: center;
  align-self: center;

  margin-left: 5px;
  margin-top: 5px;

  font-family: TIB,Roboto,sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #454749;
}
.formulario-tib .input-fecha-detalle{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.formulario-tib .radio-input{
  padding: 3px 10px;

  display: flex;
}
.formulario-tib button.button-formulario{
  width: 50% !important;
  background-color: #dc042b;
  padding: 10px;
  border-radius: 10px;
  border: 0;
  margin-bottom: 1rem;
  margin-top: 20px;
  color: white;
  cursor: pointer;

  font-family: TIB,Roboto,sans-serif;
  font-size: 16px;
}
.formulario-tib button.button-formulario:hover{
  background: white;
  border: 1px solid #dc042b;
  color: #dc042b;
}

.formulario-tib .input-error{
  color: #dc042b;
  font-size: 0.7rem;
  font-weight: 600;
  margin-left: 10px;
}

.formulario-tib .input-no-error{
  display: none;
}

@media (min-width: 451px){
  .formulario-tib .input-agrupa2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98.75%;
    padding: 0;
    margin: 0;
  }
  .formulario-tib .input-agrupa2 .input-fecha-detalle,
  .formulario-tib .input-agrupa2 .input-linea-detalle,
  .formulario-tib .input-agrupa2 .input-tarjeta-billete-detalle,
  .formulario-tib .input-agrupa2 .input-lugar-detalle{
    width: 50%;/*48.5% en local*/
  }
  .formulario-tib .input-agrupa2 .input-fecha-detalle{
    width: 48.75%;/*48% en local*/
    margin: 0px;
    padding: 0 5px;/*5px en local*/
    padding-left: 10px;
  }
  .formulario-tib .radio-input{
    align-items: center;
  }
}
@media(max-width: 450px){
  .formulario-tib input{
    width: 95%;
  }

  .formulario-tib .input-fecha-detalle,
  .formulario-tib .input-tarjeta-billete-lugar,
  .formulario-tib .input-respuesta-requerida,
  .formulario-tib .input-idioma-respuesta,
  .formulario-tib .input-archivo,
  .formulario-tib .input-textarea,
  .formulario-tib .input-tipo,
  .formulario-tib .input-ambito,
  .formulario-tib .input-respuesta-requerida,
  .formulario-tib .input-idioma-respuesta{
    width: 95%;
  }

  .formulario-tib fieldset{
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }
  .formulario-tib .radio-input{
    display: flex;
    justify-content: start;

    padding: 10px 10px;
  }
  .formulario-tib button.button-formulario{
    width: 100% !important;
  }
  .formulario-tib textarea{
    width: 94.5%;
  }
}